@model List<Product>

<div class="container p-4 border">

    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Product</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Product" asp-action="ProductCategory" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Product</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Cals
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Calories</td>
                    <td>
                        <a asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> Update Product</a>
                        <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete Product</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>